{% extends "base.nunjucks" %}


{% block realms %}
{% endblock %}


{% block js %}
        <script src="/public/assets/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="/public/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="/public/assets/plugins/datatables/dataTables.buttons.min.js"></script>
        <script src="/public/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
        <script src="/public/assets/plugins/datatables/dataTables.select.min.js"></script>
        <script src="/public/assets/plugins/datatables-editor/dataTables.editor.min.js"></script>
        <script src="/public/assets/plugins/datatables-editor/editor.bootstrap4.min.js"></script>
{% endblock %}

{% block css %}
        <link href="/public/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/public/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/public/assets/plugins/datatables/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/public/assets/plugins/datatables-editor/editor.bootstrap4.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="row">
                            <div class="col-12">
                                <div class="card-box table-responsive">
                                    <div class="col-md-1">
                                        <button  type="button" class="btn btn-info dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">{{ __('common_instructions_filter_by_name') }} <span class="caret"></span></button>
                                        <div id="filter" class="dropdown-menu"><a href="javascript:void(0);" class="dropdown-item" id="">{{ __('common_instructions_show_all') }}</a></div>

                                    </div>
                                    <table id="datatable" class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>{{ __('common_instructions_channel_id') }}</th>
                                            <th>{{ __('common_instructions_channel_name') }}</th>
                                            <th class="is_enable">{{ __('common_instructions_channel_enable') }}</th>
                                            <th>{{ __('common_instructions_channel_least') }}</th>
                                            <th>{{ __('common_instructions_channel_current') }}</th>
                                            <th>{{ __('common_instructions_channel_url') }}</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div> <!-- end row -->
{% endblock %}

{% block script %}
<script type="text/javascript">
    var editor;
    $(document).ready(function () {
        editor = new $.fn.dataTable.Editor( {
            ajax: "/api/backend/updates",
            table: "#datatable",
            idSrc:  'id',
            i18n: {
                create: {
                    button: "{{ __('common_button_create') }}",
                    },
                edit: {
                    button:  "{{ __('common_button_edit') }}",
                    },
                remove: {
                    button:  "{{ __('common_button_delete') }}",
                    }
                },
            fields: [ {
                    label: "{{ __('common_instructions_channel_id') }}:",
                    name: "id",
                    attr: {
                            type: "number"
                          }
                },{
                    label: "{{ __('common_instructions_channel_name') }}:",
                    name: "sdk_name"
                }, {
                    label: "{{ __('common_instructions_channel_ostype') }}:",
                    name: "os_type",
                    type:  "select",
                    options: [
                        { label: "Android", value: "6" },
                        { label: "iOS", value: "5" }
                    ]
                }, {
                    label: "{{ __('common_instructions_channel_enable') }}:",
                    name: "is_enable",
                    type:  "select",
                    options: [
                        { label: "{{ __('common_instructions_open') }}", value: "1" },
                        { label: "{{ __('common_instructions_close') }}", value: "0" }
                    ]
                }, {
                    label: "{{ __('common_instructions_channel_least') }}:",
                    name: "least_build"
                }, {
                    label: "{{ __('common_instructions_channel_current') }}:",
                    name: "current_build"
                }, {
                    label: "{{ __('common_instructions_channel_url') }}:",
                    name: "update_url"
                }
            ]
        } );
        // editor.

          $('#datatable').DataTable( {
            scrollY: 550,
            paging: false,
            dom: "Bfrtip",
            "ajax": {
            "url": '/api/backend/updates',
            "dataSrc": ""
            },
            "columns": [
                { "data": "id" },
                { "data": "sdk_name" },
                { "data": "is_enable" },
                { "data": "least_build" },
                { "data": "current_build" },
                { "data": "update_url" },
            ],
            select: true,
            buttons: [
                { extend: "create", editor: editor },
                { extend: "edit",   editor: editor },
                { extend: "remove", editor: editor }
            ],
            columnDefs : [
                { targets : 'is_enable',
                  render : function (data, type, row) {
                     return data == '1' ? '{{ __('common_instructions_open') }}' : '{{ __('common_instructions_close') }}'
                  }
                }
            ],
            language: {
                "sProcessing": '{{ __("common_table_sProcessing") }}',
                "sLengthMenu": '{{ __("common_table_sLengthMenu") }}',
                "sZeroRecords": '{{ __("common_table_sZeroRecords") }}',
                "sInfo": '{{ __("common_table_sInfo") }}',
                "sInfoEmpty": '{{ __("common_table_sInfoEmpty") }}',
                "sInfoFiltered": '{{ __("common_table_sInfoFiltered") }}',
                "sInfoPostFix": '{{ __("common_table_sInfoPostFix") }}',
                "sSearch": '{{ __("common_table_sSearch") }}',
                "sUrl": '{{ __("common_table_sUrl") }}',
                "sEmptyTable": '{{ __("common_table_sEmptyTable") }}',
                "sLoadingRecords": '{{ __("common_table_sLoadingRecords") }}',
                "sInfoThousands": '{{ __("common_table_sInfoThousands") }}',
                "oPaginate": {
                    "sFirst": '{{ __("common_table_sFirst") }}',
                    "sPrevious": '{{ __("common_table_sPrevious") }}',
                    "sNext": '{{ __("common_table_sNext") }}',
                    "sLast": '{{ __("common_table_sLast") }}',
                },
                "oAria": {
                    "sSortAscending": '{{ __("common_table_sSortAscending") }}',
                    "sSortDescending": '{{ __("common_table_sSortDescending") }}',
                }
            },
            initComplete: function (settings, json) {
                //筛选
                var editor_fields = get_columns_name(settings)
                this.api().column(editor_fields.indexOf('sdk_name')).every( function () {
                    var column = this;
                    $('#filter').on("click","a", function(e){
                        e.preventDefault();
                        var val = $.fn.dataTable.util.escapeRegex(
                                $(this).attr('id')
                            );
                            column
                                .search( val ? '^'+val+'$' : '', true, false )
                                .draw();
                    });
                    column.data().unique().sort().each( function ( d, j ) {
                        $('#filter').append('<a href="javascript:void(0);" class="dropdown-item" id="' + d + '">' + d + '</a>')
                    } );
                } );
            }
        } );

          editor.on( 'initCreate', function (e) {
            e.target.field( 'id' ).enable();
        } );

          editor.on( 'initEdit', function (e ) {
            e.target.field( 'id' ).disable();
        } );
    });

    function get_columns_name(settings) {
        var columns = settings.oInit.columns;
        var names = []
        for(var col in columns) {
            names.push(columns[col].data)
        }
        return names
    }
</script>
{% endblock %}