
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>channel_selector</title>
        <link href="/public/assets/plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
        <link href="/public/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/public/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css" />
        <script src="/public/assets/js/underscore.js"></script>
        <script src="/public/assets/js/modernizr.min.js"></script>
</head>
<style>
    .border-b{
    	border-bottom: 1px solid #CCCCCC;
    }
</style>
<body>
<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-12">
                	<div class="form-group row border-b">
                         <div class="checkbox form-check-inline">
                            <input type="checkbox" id="select_all" value="option1">
                            <label for="select_all"> {{ __('common_instructions_select_all') }} </label>
                        </div>
                        <div class="checkbox form-check-inline">
                            <input type="checkbox" id="select_reverse" value="option1">
                            <label for="select_reverse"> {{ __('common_instructions_select_reverse') }} </label>
                        </div>
                	</div>

                {% for realm in realm_list %}
                    <div class="form-group row border-b realm_{{realm.id}}">
                        <div class="col-2 checkbox form-check-inline">
                            <input type="checkbox" id="select_realm_{{realm.id}}" value="option1">
                            <label for="select_realm_{{realm.id}}"> {{ realm.name }}({{ realm.id }}) </label>
                        </div>


                        <div class="col-8">
                            {% for server in server_list %}
                                {% if server.realm_id == realm.id %}
                            <div class="checkbox form-check-inline">
                                <input type="checkbox" id="server_{{ server.id }}" value="{{ server.id }}"{% if server.id in selected %} checked="checked"{% endif %}>
                                <label for="server_{{ server.id }}"> {{ server.name }}({{ server.id }}) </label>
                            </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group row">
                    <div class="col-10">
                        <button id="confirm" type="button" class="btn btn-primary waves-effect w-md waves-light m-b-5">{{ __('common_instructions_confirm') }}</button>
                    </div>
                </div>
              </div>
            </div>
        </div>

    </div>
</div>



<!-- App js -->
<script src="/public/assets/js/jquery.min.js"></script>
<script src="/public/assets/layer.js"></script>
<script src="/public/assets/js/bootstrap.min.js"></script>
<script src="/public/js/moment.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
        recheck()
         $("#confirm").click(function(){
            var selected = []
            $("input:checked").each(function(){
                var opt = Number($(this).val())
                if(!_.isNaN(opt) && _.isNumber(opt))
                    selected.push(opt)
            });
            if(selected.length == $("input[id^='server_']").length)
                window.parent.select_server('-1');
            else
                window.parent.select_server(selected);
            close()
        });

		$('#select_all').click(function() {
			var c = this.checked;
			$('input[type=checkbox]').each(function(){
			    $(this).prop('checked',c);
			});
			$('#select_reverse').prop('checked',false);
		});

		$('#select_reverse').click(function() {
		    
		    $('input[type=checkbox]').each(function(){
		    	var c = !this.checked;
			    $(this).prop('checked',c);
			});
			$('#select_reverse').prop('checked',this.checked);
		});

        $("input[id^='select_realm']").click(function() {
            var id = $(this).attr('id').split('_')[2]
            var realm = '.realm_' + id + ' input[type=checkbox'
            var c = this.checked;
            $(realm).each(function(){
                $(this).prop('checked',c);
            });
        });

		$('input[type=checkbox').on('click',function(){
			recheck()
	    });

	});	

    function recheck() {
        $("input[id^='select_realm']").each(function() {
            var id = $(this).attr('id').split('_')[2]
            var realm = '.realm_' + id
            var l1 = $(realm + ' input[type=checkbox').not(this).length
            var l2 = $(realm + ' input:checked').not(this).length
            if(l1 == l2){
                $(this).prop('checked',true);
            }else{
                $(this).prop('checked',false);
            }
        });

        var l1 = $('input[type=checkbox').not('#select_all').not('#select_reverse').length
        var l2 = $(':checked').not('#select_all').not('#select_reverse').length
        if(l1 == l2){
            $('#select_all').prop('checked',true);
        }else{
            $('#select_all').prop('checked',false);
        }
    }

    function close() {
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    }

</script>
</body>
</html>
